services:

  nats-1:
    image: nats:2.10-alpine
    network_mode: host
    command:
      - "--cluster_name"
      - "NATS_TEST"
      - "--cluster"
      - "nats://127.0.0.1:16222"
      - "--routes"
      - "nats://127.0.0.1:16223,nats://127.0.0.1:16224"
      - "--addr"
      - "127.0.0.1"
      - "--port"
      - "14222"
      - "--http_port"
      - "18222"
      - "--js"
      - "-D"
      - "--server_name"
      - "nats-1"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:18222/healthz"]
      interval: 1s
      timeout: 3s
      retries: 5

  nats-2:
    image: nats:2.10-alpine
    network_mode: host
    command:
      - "--cluster_name"
      - "NATS_TEST"
      - "--cluster"
      - "nats://127.0.0.1:16223"
      - "--routes"
      - "nats://127.0.0.1:16222,nats://127.0.0.1:16224"
      - "--addr"
      - "127.0.0.1"
      - "--port"
      - "14223"
      - "--http_port"
      - "18223"
      - "--js"
      - "-D"
      - "--server_name"
      - "nats-2"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:18223/healthz"]
      interval: 1s
      timeout: 3s
      retries: 5

  nats-3:
    image: nats:2.10-alpine
    network_mode: host
    command:
      - "--cluster_name"
      - "NATS_TEST"
      - "--cluster"
      - "nats://127.0.0.1:16224"
      - "--routes"
      - "nats://127.0.0.1:16222,nats://127.0.0.1:16223"
      - "--addr"
      - "127.0.0.1"
      - "--port"
      - "14224"
      - "--http_port"
      - "18224"
      - "--js"
      - "-D"
      - "--server_name"
      - "nats-3"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:18224/healthz"]
      interval: 1s
      timeout: 3s
      retries: 5
